
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Votre commande à la Billetterie du Louvre{% endblock %}</title>
    {% block head_css %}
    {% endblock %}
</head>

<body>


<div class="container">
    {% block header %}

    {% endblock %}
</div>

<br /><div class="container">
    {% block body %}
    {% endblock %}
</div>

<div class="container">
    {% block footer %}

    {% endblock %}
</div>

{% block javascripts %}
{% endblock %}
</body>
</html>